.git
.gitattributes
.github
.vscode
.idea
.nova
.fleet
.zed

node_modules
vendor

.env
.env.backup
.env.production

storage/*.key
storage/pail
storage/app/backups

bootstrap/cache/*.key

tests
docs
screenshots
report.md
debug.md
worker-cookies.txt

.phpunit.result.cache
.phpunit.cache
.phpactor.json

npm-debug.log
yarn-error.log

Homestead.json
Homestead.yaml
auth.json

*.md
!README.md
